* {
  margin: 0;
  padding: 0;
}

.input {
  background: #57606f;
  height: 64px;
  width: 100%;
  color: #fff;
  padding: 5px;
  font-size: 40px;
  margin-top: 10px;
}
p {
  display: inline;
}
.cal-btn {
  height: 60px;
  width: 25%;
  line-height: 60px;
  background: #bbb;
  display: inline-block;
  margin-bottom: 0px;
  text-align: center;
  border-right: 1px dotted #fff;
  border-bottom: 1px dotted #fff;
}
.clear-btn {
  text-align: center;
  display: block;
  height: 60px;
  line-height: 60px;
  background-color: #bdc3c7;
}
